---
BasedOnStyle: Mozilla

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Allman
ColumnLimit: '120'
CompactNamespaces: 'false'
IndentPPDirectives: BeforeHash
IndentWidth: '2'
PointerAlignment: Right
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Cpp11
TabWidth: '2'
UseTab: Never

...
